* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: sans-serif;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

#main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: rgb(155, 155, 155);
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#calculator-body {
    width: 600px;
    height: 750px;
    display: flex;
    background-color: rgb(175, 245, 175);
    border: 3px solid green;
    border-radius: 8px 8px 20px 20px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: right;
}

#display {
    width: 95%;
    height: 150px;
    background-color: rgb(140, 195, 210);
    border: 3px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

#preview {
    height: 30%;
    border-bottom: 3px dotted black;
}

#display-input {
    height: 70%;
    font-size: 64px;
}

.button-row {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#clear {
    background-color: rgb(255, 80, 0);
}

#clear:hover {
    background-color: rgb(175, 55, 0);
}

#clear:active {
    background-color: rgb(160, 50, 0);
}

#delete {
    background-color: rgb(255, 195, 0);
}

#delete:hover {
    background-color: rgb(215, 165, 0);
}

#delete:active {
    background-color: rgb(175, 135, 0);
}

.button {
    width: 90px;
    height: 75px;
    background-color: rgb(225, 245, 225);
    border: 3px solid black;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(180, 200, 180);
}

.button:active {
    background-color: rgb(135, 155, 135);
}

.action {
    background-color: rgb(140, 195, 210);
}
